body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-form label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.upload-form input[type="file"] {
    margin-bottom: 20px;
}

.upload-form button {
    padding: 10px 20px;
    background-color: #0077ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.upload-form button:hover {
    background-color: #005fcc;
}

.success-message {
    color: green;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}